doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="renderer" content="webkit")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		title 3Doors
		link(rel="stylesheet" href="bower_components/normalize.css/normalize.css")
		link(rel="stylesheet" href="css/style.css")
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/jquery-ui/jquery-ui.min.js")
		script(src="js/script.js")

	body.font-hei
		div#portrait
			p#question 思思肥不肥
			div#buttonGroup
				div#no.button 很肥
				div#yes.button 超肥
			div#tip
				p 思思原来这么肥！！
				p 那快把屏幕转过来
				p 竖着放不下思思

		div#landscape
			div#doorGroup
				div.door(index="0")
					div.swing
						p.name A
						p.cute 选我选我~

				div.door(index="1")
					div.swing
						p.name B
						p.cute 选我选我~

				div.door(index="2")
					div.swing
						p.name C
						p.cute 选我选我~

			div#rule
				p
					big 你面前有三扇门
				p 有一扇门是喜剧，两扇门是悲剧
				p 请打开一扇门
				div#know 明白了

			div#confirm
				p#feedback
				p 现在，给你再选一次的机会